
@page { size: 28 28; } 

dtbook {
  hyphens: none;
}

level1 {
  page-break-after: right;  /* später evtl. anpassen */
}

h1 {
	display: block;
	text-align: center;
	margin-top: 1;
	border-bottom: ⠤;
	margin-bottom: 1;
}

p {
	display: block;
	text-align: left;
	text-indent: 2;
}


