

@page:left { margin-top: 1; }

body {
  display: block;
  line-height: 2; }

p {
  display: block; }


@page { size: 32 28; }

pagenum { display: none }

table { display: none }

p {
	display: block;
	margin-left: 2;
	text-indent: 2;
	line-height: 2;
}

h2 {
	display: block;
	margin-left: 2;
	text-indent: 5;
	margin-top: 1;
	margin-bottom: 1;
}

list {
	margin-top: 1;
	margin-bottom: 1;
	display: block;
}

li {
	display: block;
	margin-left: 4;
	text-indent: -2;
}

