@page { size: 32 28; }

/*div {
    hyphens:auto;
}*/

h4 {
	display: block;
	margin-top: 1;
	margin-left: 2;
	text-indent: 5;
}

h5 {
	display: block;
	margin-top: 1;
	margin-left: 2;
}

p {
	display: block;
	margin-left: 2;
	text-indent: 2;
	hyphens: auto;

}


pre {
white-space:pre-wrap;
}

imggroup { display: none; }